.app-logo {
  height: 60px;
  margin-right: 15px;
}

header {
  background: #0d253f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
  color: white;
  padding: 0 50px;
}

.logo-bar {
  display: flex;
  align-items: center;
}

.header-menu {
  position: relative;
  display: inline-block;
}

.header-menu > div {
  display: inline-block;
  margin-right: 10px
}

.header-menu-option {
  display: block;
  color: white;
  padding: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-option-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  z-index: 1000;
}

.dropdown-option-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-option-content a:hover {
  background-color: #ddd;
}

.header-menu > div:hover .dropdown-option-content {
  display: block;
}

.hideable-search-bar {
  position: absolute;
  right: 50px;
  top: 17px;
  display: flex;
  font-size: 1.1rem;
  z-index: 100000;
}

.hideable-search-bar input {
  padding: 0 7px;
  outline: none;
  border: none;
}

.hideable-search-bar > span {
  background: #fff;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

.show-search-bar {
  display: flex;
}

.hide-search-bar {
  display: none;
}

.header-login-link {
  color: white;
  text-decoration: none;
  margin-right: 50px;
}

.header-search-button {
  cursor: pointer;
}
