<header>
  <div class="logo-bar">
    <a href="/">
      <img src="../../../assets/images/logo.png" alt="logo" class="app-logo">
    </a>
    <div class="header-menu">
      <div>
        <a class="header-menu-option">Movies</a>
        <div class="dropdown-option-content">
          <a [href]="moviesListLink + 'popular'">Popular</a>
          <a [href]="moviesListLink + 'now-playing'">Now playing</a>
          <a [href]="moviesListLink + 'upcoming'">Upcoming</a>
          <a [href]="moviesListLink + 'top-rated'">Top rated</a>
        </div>
      </div>
      <div>
        <a href="discover/movies" class="header-menu-option">Discover</a>
      </div>
    </div>
  </div>

  <div class="hideable-search-bar" [ngClass]="searchBarIsShown ? 'show-search-bar' : 'hide-search-bar'">
    <input [(ngModel)]="searchQuery" (keyup.enter)="onSearchClick()" [autofocus]="">
    <span (click)="setSearchBarVisibility(false)">&times;</span>
  </div>

  <div>
    <a *ngIf="!username else loggedIn" routerLink="login" class="header-login-link">Log in / Sign up</a>
    <ng-template #loggedIn>
      <div class="header-menu">
        <div>
          <a [routerLink]="['profile', username]" class="header-menu-option header-login-link">{{username}}</a>
          <div class="dropdown-option-content">
            <a [href]="'profile/' + username">Profile</a>
            <a href="favorites">Favorites</a>
            <a href="watch-later">Watch Later</a>
            <a href="settings">Settings</a>
            <a href="logout" (click)="logout($event)">Log out</a>
          </div>
        </div>
      </div>
    </ng-template>
    <i class="fas fa-search header-search-button" (click)="setSearchBarVisibility(true)"></i>
  </div>
</header>
