<div class="poster-box">
  <a [routerLink]="'/movie/' + movie.id">
    <img [src]="movie.poster_path? posterSource + movie.poster_path : noPosterPath" [alt]="movie.id + ' poster'" class="poster-picture">
    <div class="movie-title">{{movie.title | moviePosterTitle}}</div>
  </a>
</div>
