.poster-box {
  width: 220px;
  border-radius: 8px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.poster-picture {
  width: 100%;
  height: 330px;
  border-radius: 8px 8px 0 0;
  /*margin: 0 auto 0.5rem;*/
}

.movie-title {
  padding: 0 5px 0;
  color: #000;
  /*color: #fff;*/
  /*background-color: #01b4e4;*/
  height: 90px;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 0 0 8px 8px;
  /*text-align: left;*/
}

.poster-box a {
  display: block;
  text-decoration: none;
}

.poster-box:hover .poster-picture {
  filter: brightness(0.8);
  transition: .5s;
}

.poster-box:hover .movie-title {
  /*color: #000;*/
  transition: .2s;
}
