<div *ngIf="movies?.length else no_movies_in_collection">
  <h4>{{type}}</h4>
  <app-movies-list [movies]="movies"></app-movies-list>
</div>
<ng-template #no_movies_in_collection>
  <h4>You have no movies added to this list...</h4>
</ng-template>
