<div class="search-bar-container">
  <input name="search-query" [(ngModel)]="searchQuery" (keyup.enter)="onSearchClick()"
         placeholder="Search for a movie....." class="search-query-input"/>
  <button class="search-query-btn" (click)="onSearchClick()">Search</button>
</div>
