.search-bar-container > * {
  border: 1px grey solid;
  height: 50px;
  outline: none;
  font-size: 1.1rem;
}

.search-query-input {
  width: 85%;
  /*border: 1px grey solid;*/
  /*border-right: none;*/
  border-radius: 30px 0 0 30px;
  padding: 5px 30px;
}

.search-query-btn {
  width: 15%;
  /*border: 1px grey solid;*/
  /*border-left: none;*/
  border-radius: 0 30px 30px 0;
  font-weight: bold;
  cursor: pointer;
}
