.comment-main-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.comment-username {
  font-weight: bold;
  text-decoration: none;
  color: #000;
}

.comment-actions-date i {
  cursor: pointer;
  margin-right: 10px;
}

.comment-publish-time {
  font-size: 0.7rem;
  font-weight: 500;
  color: #a4a09f;
}

.comment-content {
  padding: 5px 10px;
  border: thin #ddd solid;
  border-radius: 5px;
  font-size: 0.9rem;
}

.single-comment {
  margin-bottom: 25px;
}
