<div class="comments-section-wrapper">
  <div *ngFor="let comment of comments" class="single-comment">
    <div class="comment-main-info">
      <a [href]="'/profile/' + comment.user" class="comment-username">{{comment.user}}</a>
      <div class="comment-actions-date">
        <ng-container *ngIf="username === comment.user">
          <i class="far fa-edit" (click)="editClick(comment)"></i>
          <i class="far fa-trash-alt" (click)="deleteClick(comment)"></i>
        </ng-container>
        <span class="comment-publish-time">{{comment.publishDateTime}}</span>
      </div>
    </div>
    <div class="comment-content">
      {{comment.content}}
    </div>
  </div>
</div>
