<div>
  <span class="icon" *ngFor = "let star of createRange(filledStarsCount)">
    <i class="fa fa-star filled"></i>
  </span>
  <span class="icon" *ngFor = "let star of createRange(starsCount - filledStarsCount)">
    <i class="fa fa-star"></i>
  </span>
</div>
