<div class="movies-collection-wrapper">
  <app-movie-search-filters [sortingOptions]="sortingOptions" [genres]="genres" [minUserScore]="minUserScore"
                            [maxUserScore]="maxUserScore" [optionsUserScore]="optionsUserScore" [minRuntime]="minRuntime"
                            [maxRuntime]="maxRuntime" [optionsRuntime]="optionsRuntime"
                            (useSearchFilters)="onWithFiltersSearch($event)"
                            [ngClass]="isFiltersBarShown ? '' : 'invisible-search-filters'"></app-movie-search-filters>
  <div>
    <app-movies-list [movies]="displayedMoviesCollection"></app-movies-list>
    <div class="collection-pagination-wrapper">
      <ngb-pagination class="d-flex justify-content-center" [page]="currentPage" [collectionSize]="totalResults" [maxSize]="5" [rotate]="true"
                      [pageSize]="pageSize" [ellipses]="false" [boundaryLinks]="true" (pageChange)="onPageChange($event)"></ngb-pagination>
    </div>
  </div>
</div>
