.login-signup-container {
  background: #90cea1;
  height: 72vh;
  display: flex;
  align-items: center;
  color: #fff;
}

.login-signup-container input {
  padding: 0 7px;
}

.login-signup-subcontainer {
  width: 50%;
  padding: 10vh 0;
  display: flex;
  justify-content: center;
}

.login-container {
  border-right: 2px dashed black;
}

.login-form-field {
  margin-bottom: 20px;
  font-size: 1.1rem;
}

.login-form-label {
  display: block;
  text-align: left;
}

.login-form-input {
  font-size: 1.1rem;
}

.login-form-error {
  text-align: center;
  color: #ff0000;
  font-size: 0.8rem;
  font-weight: bold;
  margin-top: -20px;
  margin-bottom: 20px;
}

.form-error-message {
  color: #ff0000;
  font-size: 0.7rem;
  font-weight: bold;
  margin-bottom: -15px;
}

form>h2 {
  margin-bottom: 30px;
  text-align: center;
}

.form-fields-wrapper {
  margin-bottom: 6vh;
}

.submit-log-btn {
  display: block;
  margin: 0 auto 20px;
  font-size: 1.3rem;
  padding: 5px 15px;
  border: none;
  border-radius: 7px;
}

.forgot-link {
  display:block;
  text-align:center;
  text-decoration: none;
  color: #fff;
}
