<div class="login-signup-container">
  <div class="login-container login-signup-subcontainer">
    <form [formGroup]="loginForm">
      <h2>LOG IN</h2>
      <div class="form-fields-wrapper">
        <div class="login-form-field">
          <label for="loginUsername" class="login-form-label">Username</label>
          <input id="loginUsername" formControlName="loginUsername" class="login-form-input"
                 [ngStyle]="{border: !isLoginFormFieldValid('loginUsername') ? fieldErrorStyle : ''}"/>
          <div
            *ngIf="getLoginFormField('loginUsername').errors?.required &&
                   getLoginFormField('loginUsername').touched"
            class="form-error-message">
            {{fieldNotEmptyMessage}}
          </div>
        </div>

        <div class="login-form-field">
          <label for="loginPassword" class="login-form-label">Password</label>
          <input id="loginPassword" type="password" formControlName="loginPassword" class="login-form-input"
                 [ngStyle]="{border: !isLoginFormFieldValid('loginPassword') ? fieldErrorStyle : ''}"/>
          <div
            *ngIf="getLoginFormField('loginPassword').errors?.required &&
                   getLoginFormField('loginPassword').touched"
            class="form-error-message">
            {{fieldNotEmptyMessage}}
          </div>
        </div>
      </div>
      <div *ngIf="loginFormErrorMessage" class="login-form-error">
        {{loginFormErrorMessage}}
      </div>
      <button class="submit-log-btn" (click)="login()">Log in</button>
      <br>
      <a routerLink="/forgot" class="forgot-link"><span>Forgot your password?</span></a>
    </form>
  </div>

  <div class="login-signup-subcontainer">
    <form [formGroup]="signUpForm">
      <h2>SIGN UP</h2>
      <div class="form-fields-wrapper">
        <div class="login-form-field">
          <label for="signupEmail" class="login-form-label">E-mail</label>
          <input id="signupEmail" formControlName="signupEmail" class="login-form-input"
                 [ngStyle]="{border: !isSignupFormFieldValid('signupEmail') ? fieldErrorStyle : ''}"
                 (focusout)="checkIfEmailExists($event)"/>
          <div
            *ngIf="getSignupFormField('signupEmail').errors?.required && getSignupFormField('signupEmail').touched"
            class="form-error-message">
            {{fieldNotEmptyMessage}}
          </div>
          <div *ngIf="getSignupFormField('signupEmail').errors?.email"
               class="form-error-message">
            Enter a valid e-mail
          </div>
          <div *ngIf="getSignupFormField('signupEmail').errors?.taken"
               class="form-error-message">
            This e-mail is taken
          </div>
        </div>

        <div class="login-form-field">
          <label for="signupUsername" class="login-form-label">Username</label>
          <input id="signupUsername" formControlName="signupUsername" class="login-form-input"
                 [ngStyle]="{border: !isSignupFormFieldValid('signupUsername') ? fieldErrorStyle : ''}"
                 (focusout)="checkIfUsernameExists($event)"/>
          <div
            *ngIf="getSignupFormField('signupUsername').errors?.required && getSignupFormField('signupUsername').touched"
            class="form-error-message">
            {{fieldNotEmptyMessage}}
          </div>
          <div *ngIf="getSignupFormField('signupUsername').errors?.maxlength"
               class="form-error-message">
            Username max length is 30 characters
          </div>
          <div *ngIf="getSignupFormField('signupUsername').errors?.taken"
               class="form-error-message">
            This username is taken
          </div>
          <div *ngIf="getSignupFormField('signupUsername').errors?.pattern &&
                      !getSignupFormField('signupUsername').errors?.maxlength"
               class="form-error-message form-error-two-lines">
            <div>
              Only latin letters, numbers, symbols (_ or .)
            </div>
            <div>
               are allowed
            </div>
          </div>
        </div>

        <div class="login-form-field">
          <label for="signupPassword" class="login-form-label">Password</label>
          <input id="signupPassword" formControlName="signupPassword" type="password" class="login-form-input"
                 [ngStyle]="{border: !isSignupFormFieldValid('signupPassword') ? fieldErrorStyle : ''}"/>
          <div
            *ngIf="getSignupFormField('signupPassword').errors?.required && getSignupFormField('signupPassword').touched"
            class="form-error-message">
            {{fieldNotEmptyMessage}}
          </div>
          <div *ngIf="getSignupFormField('signupPassword').errors?.minlength ||
                      getSignupFormField('signupPassword').errors?.maxlength"
               class="form-error-message">
            Password must be at least 8 characters long
          </div>
        </div>

        <div class="login-form-field">
          <label for="signupConfirmPassword" class="login-form-label">Confirm password</label>
          <input id="signupConfirmPassword" formControlName="signupConfirmPassword" type="password" class="login-form-input"
                 [ngStyle]="{border: !isSignupFormFieldValid('signupConfirmPassword') ? fieldErrorStyle : ''}"/>
          <div
            *ngIf="getSignupFormField('signupConfirmPassword').errors?.required &&
                   getSignupFormField('signupConfirmPassword').touched"
            class="form-error-message">
            {{fieldNotEmptyMessage}}
          </div>
          <div *ngIf="getSignupFormField('signupConfirmPassword').errors?.mustMatch"
               class="form-error-message">
            Passwords do not match
          </div>
        </div>
      </div>

      <button class="submit-log-btn" (click)="signUp()">Sign up</button>
    </form>
  </div>
</div>
