<div class="search-bar-wrapper">
  <app-search-bar></app-search-bar>
</div>
<div class="home-page-section-header">What's Playing Now</div>
<app-movies-list [movies]="homeMoviesList"></app-movies-list>
