.search-panel-section mat-expansion-panel {
  width: 300px;
  margin-bottom: 20px;
}

.search-panel-section mat-panel-title {
  font-weight: bold;
}

.search-panel-container > button {
  height: 45px;
  width: 80%;
  display: block;
  margin: 0 auto;
  outline: none;
  font-size: 1.1rem;
  border-radius: 40px;
  background: #01b4e4;
  color: #fff;
}

.panel-option-header {
  display: block;
  margin-bottom: 10px;
  text-decoration: underline;
}

.search-filters-unit {
  margin-bottom: 20px;
}

.filter-genre-option, .active-filter-genre-option {
  display: inline-block;
  background: #fff;
  border: 1px #000 solid;
  border-radius: 15px;
  padding: 3px 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  outline: none;
}

.filter-genre-option:hover, .active-filter-genre-option {
  color: #fff;
  background: #01b4e4;
  border-color: #01b4e4;
}

.search-panel-section > mat-expansion-panel ng5-slider {
  width: 100%;
}
