<div class="search-panel-container">
  <mat-accordion class="search-panel-section">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Sort
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-form-field>
        <mat-label>Sort Results By</mat-label>
        <mat-select (selectionChange)="setMoviesSorting($event.value)">
          <mat-option *ngFor="let sort of sortingOptions" [value]="sort">
            {{sort.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion class="search-panel-section">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Filters
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div>
        <div class="search-filters-unit">
          <span class="panel-option-header">Release Dates</span>
          <div>
            <div>
              <mat-form-field>
                <mat-label>From</mat-label>
                <input matInput [matDatepicker]="releaseFromDate" autocomplete="off" (dateInput)="setFromReleaseDate($event)">
                <mat-datepicker-toggle matSuffix [for]="releaseFromDate"></mat-datepicker-toggle>
                <mat-datepicker #releaseFromDate></mat-datepicker>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field>
                <mat-label>To</mat-label>
                <input matInput [matDatepicker]="releaseToDate" autocomplete="off" (dateInput)="setToReleaseDate($event)">
                <mat-datepicker-toggle matSuffix [for]="releaseToDate"></mat-datepicker-toggle>
                <mat-datepicker #releaseToDate></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="search-filters-unit">
          <span class="panel-option-header">Genres</span>
          <button [ngClass]="getSelectedGenresIds().includes(genre.id) ? 'active-filter-genre-option' : 'filter-genre-option'"
                  *ngFor="let genre of genres" [value]="genre.id" (click)="toggleGenreFilter(genre)">{{genre.name}}</button>
        </div>
        <div class="search-filters-unit">
          <span class="panel-option-header">User Score</span>
          <ng5-slider [(value)]="minUserScore" [(highValue)]="maxUserScore" [options]="optionsUserScore"
                      (valueChange)="setMinUserScore($event)" (highValueChange)="setMaxUserScore($event)"></ng5-slider>
        </div>
        <div class="search-filters-unit">
          <span class="panel-option-header">Runtime</span>
          <ng5-slider [(value)]="minRuntime" [(highValue)]="maxRuntime" [options]="optionsRuntime"
                      (valueChange)="setMinRuntime($event)" (highValueChange)="setMaxRuntime($event)"></ng5-slider>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <button mat-flat-button (click)="onSearchBtnClick(selectedFilters)">Search</button>
</div>
