.search-bar-on-results-wrapper {
  margin-bottom: 50px;
}

.search-results-header {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 70px;
}

.more-search-results-wrapper button {
  display: block;
  margin: 0 auto 30px;
  width: 70%;
  height: 50px;
  font-size: 1.2rem;
  color: #fff;
  background: #01b4e4;
}
