<div>
  <div class="search-bar-on-results-wrapper">
    <app-search-bar></app-search-bar>
  </div>
  <div class="search-results-header" *ngIf="totalResultsCount !== 0">{{totalResultsCount}} results found for "{{query}}":</div>
  <div class="search-results-header" *ngIf="totalResultsCount === 0 && query">No results found for "{{query}}"</div>
  <div class="search-results-header" *ngIf="!query">Enter search query!</div>
  <app-movies-list [movies]="foundMovies"></app-movies-list>
</div>
<div class="more-search-results-wrapper">
  <button mat-stroked-button (click)="loadMoreFound()"
          [class.invisible]="foundMovies?.length === totalResultsCount || !query">Load More</button>
</div>
