* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none !important;
}

html {
  min-height: 100%;
  position: relative;
}

body {
  margin: 0 0 300px;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.mat-tooltip {
  font-size: 0.8rem;
}

a {
  text-decoration: none !important;
}
