<div>
    <form [formGroup]="settingsForm" class="user-settings-form">
      <div class="settings-fields-wrapper">
        <div class="settings-form-field">
          <label for="email">
            E-mail
          </label>
          <input id="email" formControlName="email" type="text" (focusout)="checkIfEmailIsTaken()"
                 [ngStyle]="{border: !isSettingsFieldValid('email') ? fieldErrorStyle : ''}"/>
          <div *ngIf="getFormField('email').errors?.email"
               class="settings-error-message">
            Enter a valid e-mail
          </div>
          <div *ngIf="getFormField('email').errors?.taken"
               class="settings-error-message">
            This e-mail is taken
          </div>
        </div>

        <div class="settings-form-field">
          <label for="birthDay">
            Date of birth
          </label>
          <input id="birthDay" formControlName="birthDay" type="number" min="1" max="31"/>
          <select id="birthMonth" formControlName="birthMonth">
            <option *ngFor="let month of monthsOptions">{{month}}</option>
          </select>
          <input id="birthYear" formControlName="birthYear" type="number" min="1900"
                 [max]="currentYear"/>
        </div>

        <div class="settings-form-field">
          <label for="password">
            Password
          </label>
          <input id="password" formControlName="password" type="password"/>
          <div *ngIf="getFormField('password').errors?.minlength ||
                      getFormField('password').errors?.maxlength"
               class="form-error-message">
            Password must be at least 8 characters long
          </div>
        </div>

        <div class="settings-form-field">
          <label for="passwordConfirm">
            Confirm password
          </label>
          <input id="passwordConfirm" formControlName="passwordConfirm" type="password"/>
          <div *ngIf="getFormField('passwordConfirm').errors?.mustMatch"
               class="form-error-message">
            Passwords do not match
          </div>
        </div>
      </div>

      <button class="save-settings-btn" (click)="updateUser()">Save</button>
      <button class="save-settings-btn delete-account-btn" (click)="deleteAccount()"> Delete account</button>
    </form>
</div>
