.user-settings-form {
  width: 50%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.settings-fields-wrapper {
  margin-bottom: 30px;
}

.settings-form-field {
  margin-bottom: 20px;
}

.settings-form-field>label {
  display: block;
}

.settings-form-field>select {
  width: 100px;
}

.settings-form-field>input, .settings-form-field>select{
  padding: 0 7px;
  height: 25px;
  box-sizing: border-box;
}

.settings-form-field>input {
  width: 250px;
}

#birthDay {
  padding: 0 0 0 7px;
  width: 60px;
}

#birthMonth {
  width: 120px;
}

#birthYear {
  padding: 0 0 0 7px;
  width: 70px;
}

.save-settings-btn {
  display: block;
  background: #0d253f;
  color: #fff;
  padding: 5px 15px;
  border: thin #0d253f solid;
  border-radius: 7px;
  margin-bottom: 20px;
}

.delete-account-btn {
  background: #ff0000;
  border: thin #ff0000 solid;
}
