<footer>
  <div>
    <span class="footer-section-header">Site map</span>
    <div class="footer-map">
      <div>
        <a routerLink="/">Home</a>
        <a routerLink="movies/popular">Popular</a>
        <a routerLink="movies/now-playing">Now playing</a>
      </div>
      <div>
        <a routerLink="movies/upcoming">Upcoming</a>
        <a routerLink="movies/top-rated">Top rated</a>
        <a routerLink="discover/movies">Discover</a>
      </div>
      <div>
        <a routerLink="search">Search</a>
        <a *ngIf="!isUserAuthenticated" routerLink="login">Log in</a>
      </div>
    </div>
  </div>
  <div>
    <span class="footer-section-header">Socials</span>
    <div class="footer-socials">
      <a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter-square"></i></a>
      <a href="https://instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
      <a href="https://facebook.com/" target="_blank"><i class="fab fa-facebook-square"></i></a>
    </div>
  </div>
</footer>
