footer {
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: #0d253f;
  color: #fff;
  padding: 20px;
}

footer > div {
  margin-right: 40px;
  width: 50%;
}

.footer-map {
  display: flex;
}

.footer-map > div {
  margin-right: 50px;
}

.footer-map > div > a {
  display: block;
  color: #fff;
  margin-right: 20px;
  margin-bottom: 10px;
}

.footer-section-header {
  display: block;
  font-weight: bold;
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.footer-socials a {
  margin-right: 50px;
  font-size: 2rem;
  color: #fff;
}
