.movie-info-container {
  padding: 0 30px;
}

.movie-main-info-container {
  display: flex;
  padding: 15px 20px;
  margin-bottom: 40px;
  background: #0d253f;
}

.movie-info-poster {
  height: 450px;
  margin-right: 60px;
  border-radius: 10px;
  border: 2px white solid;
}

.movie-information {
  color: #FFFFFF;
}

.movie-title {
  font-size: 1.8rem;
  font-weight: bold;
}

.movie-year {
  font-weight: initial;
  color: darkgray;
}

.movie-info-rating {
  margin-bottom: 20px;
}

.movie-info-star-rating {
  display: inline-block;
  margin-right: 10px;
}

i {
  cursor: pointer;
}

.movie-info-icons {
  vertical-align: middle;
  font-size: 1.3rem;
  margin-right: 40px;
}

.movie-info-play-trailer-btn {
  vertical-align: middle;
  cursor: pointer;
}

.movie-trailer-play-icon {
  font-size: 1.2rem;
  margin-right: 10px;
}

.movie-main-trailer-iframe {
  width: 100%;
  height: 300px;
}

.movie-info-section {
  margin-bottom: 20px;
}

.movie-section-title {
  font-weight: bold;
  font-size: 1.2rem;
}

.movie-info-section-header {
  font-weight: bold;
  font-size: 1.3rem;
  margin-bottom: 15px;
}

.movie-other-info-section {
  margin-bottom: 30px;
}

.movie-info-subsection-header {
  padding-left: 5px;
  margin-bottom: 10px;
  font-size: 1.1rem;
}

.media-carousel-container {
  display: flex;
  margin-bottom: 30px;
  padding: 0 5px 10px;
}

.media-trailer-container {
  margin-right: 10px;
}

.media-trailer-iframe {
  display: block;
  width: 533px;
  height: 300px;
}

.movie-backdrops-carousel {
  width: 533px;
  outline: none;
}

.movie-posters-carousel {
  outline: none;
}

.movie-image-media-container > div {
  display: inline-block;
  margin-right: 140px;
}

mat-card {
  border: 1px #000 solid;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  color: #000;
}

.movie-comments-section {
  width: 50%;
}

.comment-addition {
  margin-bottom: 30px;
}

.comment-addition textarea {
  resize: none;
  width: 100%;
  display: block;
  padding: 5px 10px;
  margin-bottom: 10px;
  border-radius: 7px;
}

.comment-addition button {
  padding: 5px 15px;
  border: thin #0d253f solid;
  border-radius: 7px;
  background: #fff;
  color: #0d253f;
}

.comment-addition button:hover {
  background: #0d253f;
  color: #fff;
}
