<div class="movie-info-container">
  <div class="movie-main-info-container">
    <img [src]="movie.poster_path ? posterSource + movie.poster_path : noPosterPath" alt="poster" class="movie-info-poster">
    <div class="movie-information">
      <div class="movie-info-section">
        <div class="movie-title">
          {{movie.title}} <span class="movie-year">({{movie.release_date | movieDateFormat: {delimiter: '-'} }})</span>
        </div>

        <div>
          {{movie.release_date | movieDateFormat: {reformat: true, delimiter: '-'} }} &#8226;
          {{movie.genres | movieGenres}} &#8226;
          {{movie.runtime | movieDuration}}
        </div>
      </div>

      <div class="movie-info-section">
        <div class="movie-info-rating">
          <app-star-rating [filledStarsCount]="movie.vote_average" [starsCount]="10" class="movie-info-star-rating"></app-star-rating>
          <span *ngIf="movie.vote_average else no_ratings_movie">({{movie.vote_average}}/10)</span>
          <ng-template #no_ratings_movie>
            <span>(The movie has no ratings)</span>
          </ng-template>
        </div>

        <i [matTooltip]="selectedStatus.inWatchLater ? 'Remove from watchlist' : 'Add to watchlist'"
           class="fas fa-bookmark movie-info-icons"
           *ngIf="selectedStatus"
           [style.color]="selectedStatus.inWatchLater ? '#ebcc34' : ''"
           (click)="toggleWatchlist()"></i>
        <i [matTooltip]="selectedStatus.inWatchLater ? 'Remove from favorites' : 'Add to favorites'"
           class="fas fa-heart movie-info-icons"
           *ngIf="selectedStatus"
           [style.color]="selectedStatus.inFavorites ? '#eb3456' : ''"
           (click)="toggleFavorites()"></i>

        <ng-template #content let-c="close" let-d="dismiss">
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">{{movie.title}} - Trailer</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <iframe [src]="'https://www.youtube.com/embed/' + mainTrailerLink | urlSafe" allowfullscreen
                    class="movie-main-trailer-iframe"></iframe>
          </div>
        </ng-template>

        <span *ngIf="mainTrailerLink" class="movie-info-play-trailer-btn" (click)="openTrailerPopup(content)">
        <i class="fas fa-play movie-trailer-play-icon"></i>Play Trailer
      </span>
      </div>

      <div class="movie-section-title movie-info-section">Overview</div>
      <div class="movie-overview movie-info-section">{{movie.overview? movie.overview : 'There\'s no overview yet...'}}</div>

      <div class="movie-section-title movie-info-section">Additional facts</div>
      <div>
        <div>Original title: {{movie.original_title}}</div>
        <div>Status: {{movie.status}}</div>
        <div>Budget: {{movie.budget ? (movie.budget | currency) : '-'}}</div>
        <div>Revenue: {{movie.revenue ? (movie.revenue | currency) : '-'}}</div>
      </div>
    </div>
  </div>

  <div class="movie-other-info-section">
    <div class="movie-info-section-header">Top Billed Cast</div>
    <app-actors-carousel [actorsCards]="cast" *ngIf="cast?.length else no_cast_found"></app-actors-carousel>
    <ng-template #no_cast_found>No cast found to this movie...</ng-template>
  </div>

  <div class="movie-other-info-section" *ngIf="allTrailersLinks || allPostersLinks || allBackdropsLinks; else no_media_found">
    <div class="movie-info-section-header">Media</div>

    <div *ngIf="allTrailersLinks">
      <div class="movie-info-subsection-header">Videos</div>
      <div class="media-carousel-container" [ngStyle]="{overflowX: (allTrailersLinks?.length > 2) ? 'scroll' : 'none'}">
        <div *ngFor="let trailerLink of allTrailersLinks" class="media-trailer-container">
          <iframe [src]="'https://www.youtube.com/embed/' + trailerLink | urlSafe" allowfullscreen
                  class="media-trailer-iframe"></iframe>
        </div>
      </div>
    </div>

    <div class="movie-image-media-container">
      <div *ngIf="allBackdropsLinks">
        <div class="movie-info-subsection-header">Backdrops</div>

        <ngb-carousel *ngIf="allBackdropsLinks" [interval]="0" [showNavigationIndicators]="false" class="movie-backdrops-carousel">
          <ng-container *ngFor="let image of allBackdropsLinks">
            <ng-template ngbSlide>
              <img [src]="backdropsSource + image" alt="Random first slide"
                   style="width: 100%; height: 300px">
            </ng-template>
          </ng-container>
        </ngb-carousel>
      </div>

      <div *ngIf="allPostersLinks">
        <div class="movie-info-subsection-header">Posters</div>

        <ngb-carousel *ngIf="allPostersLinks" [interval]="0" [showNavigationIndicators]="false" class="movie-posters-carousel">
          <ng-container *ngFor="let image of allPostersLinks">
            <ng-template ngbSlide>
              <img [src]="posterSource + image" alt="Random first slide"
                   style="height: 300px">
            </ng-template>
          </ng-container>
        </ngb-carousel>
      </div>
    </div>
  </div>

  <ng-template #no_media_found>
    <div class="movie-info-section-header" >No Media Found</div>
  </ng-template>

  <div *ngIf="bestReview else no_reviews_found" class="movie-other-info-section">
    <div class="movie-info-section-header">Best Review</div>
    <mat-card>
      <mat-card-title>A review by {{bestReview.author}}</mat-card-title>
      <mat-card-content>
        <p *ngFor="let paragraph of bestReview.paragraphs">
          {{paragraph}}
        </p>
      </mat-card-content>
    </mat-card>
  </div>

  <ng-template #no_reviews_found>
    <div class="movie-info-section-header movie-other-info-section">No Reviews Found</div>
  </ng-template>

  <div class="movie-other-info-section movie-comments-section">
    <div *ngIf="commentsCount === 0 else commentsSection" class="movie-info-section-header">
      No Comments Found
    </div>
    <ng-template #commentsSection>
      <div class="movie-info-section-header">Comments ({{commentsCount}})</div>
    </ng-template>
    <div class="comment-addition" *ngIf="username">
      <textarea rows="4" name="comment" #commentInput placeholder="Type your comment here"></textarea>
      <button (click)="addComment()">{{editingComment? 'Save': 'Add'}}</button>
    </div>
    <app-comments-section [comments]="comments" [username]="username"
                          (deleteComment)="deleteComment($event)"
                          (editComment)="editComment($event)"></app-comments-section>
  </div>
</div>
