.user-info-container {
  display: flex;
}

.user-info-subcontainer {
  margin-right: 20px;
}

.user-info-username {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.user-info-main-unit {
  display: block;
  margin-bottom: 10px;
}
