<div class="user-info-container">
  <div class="user-info-subcontainer">
    <img [src]="profilePicture" [alt]="user?.username + ' profile'"/>
  </div>
  <div class="user-info-subcontainer">
    <div class="user-info-username">{{user?.username}}</div>
    <div class="user-info-main">
      <span class="user-info-main-unit">E-mail: {{user?.email}}</span>
      <span class="user-info-main-unit">Date of birth: {{user?.birthDate ? user?.birthDate : 'unknown'}}</span>
      <span class="">Comments number: {{commentsCount}}</span>
    </div>
  </div>
</div>
