<div class="actor-card">
  <img [src]="actorCard.profile_path? profilePhoto + actorCard.profile_path : noProfilePhoto"
       [alt]="actorCard.id + 'profile'"
       [class]="actorCard.profile_path? 'actor-card-photo' : 'actor-card-photo no-actor-profile-photo'">

  <div class="actor-card-info">
    <div class="actor-card-name">{{actorCard.name}}</div>
    <div class="actor-card-character">{{actorCard.character}}</div>
  </div>
</div>
