.actor-card {
  /*border: 1px black solid;*/
  border-radius: 10px;
  height: 335px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.actor-card-photo {
  width: 160px;
  border-radius: 10px 10px 0 0;
}

.actor-card-info {
  padding: 0 5px;
}

.actor-card-name {
  font-weight: bold;
}

.actor-card-character {
  font-size: 0.9rem;
}

.no-actor-profile-photo {
  height: 240px;
}
